.brand{
    height: 200px;
    color: #fff;
    background-color: var(--bgc-color);
}

.brand__text{
    margin: auto;
}

.brand__text p{
    font-size: 2.4rem;
    font-weight: 600;
}

.birth{
    padding: 100px 0;
}

.birth__img{
    width: 100%;
    /* padding-top: 50.85%; */
    min-height: 590px;
    background: url(../img/birth.jpg) center / cover no-repeat;
    position: relative;

    justify-content: center;
}

.birth__img .birth__img-detail{
    cursor: pointer;
}

.birth__img .birth__img-detail img{
    transition: all 0.2s linear;
}

.birth__img .birth__img-detail img:hover{
    transform: scale(1.2);
}

.birth__info{
    text-align: center;
}

.birth__info h2{
    margin: 50px 0 25px 0;
}

.main__video_2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    height: 100%;
    background-color: #000;
}

.blog{
    background-color: var(--bgc-color);
    padding-top: 100px;
}

.blog__item-header h2{
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 1.33333;
}

.blog__item-detail span{
    letter-spacing: 0;
    text-transform: none;
}
.blog__item-img{
    cursor: pointer;
}

.blog__item-img--first img{
    width: 100%;
    max-width: 500px;
}

.blog__item-img--second img{
    width: 100%;
    max-width: 500px;
}

.blog__item-img--third img{
    width: 100%;
    max-width: 500px;
}

.blog__list-row{
    align-items: center;
    padding-bottom: 100px;
}

.blog__list--first{
    max-width: 497px;
}

.blog__list--second{
    display: flex;
    justify-content: flex-end;
}

.reason{
    background: url(../img/his_footer.jpg) center / cover no-repeat;
}

.reason__text{
    width: 100%;
    text-align: center;
    padding: 175px 0;
}

.reason__text h2{
    margin-bottom: 15px;
}

.reason__text p{
    margin-bottom: 41px;
}

.reason__text button a {
    color: var(--text-color);
    display: block;
}

