.ask{
    padding: 100px 0;
}

.ask__header{
    margin-bottom: 60px;
}

.ask__header-item a{
    line-height: 2.7;
    font-size: 2rem;
    font-weight: 600;
    color: #BABCC4;
}

.ask__header-item .ask__active{
    color: var(--text-color);
}

.ask__header-item{
    margin-right: 60px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.ask__header-item:nth-child(5){
    margin-right: 0;
}

.ask__boxshadow{
    box-shadow: inset 0px -2px 0px #171719;
}

.ask__form h3{
    font-size: 1.6rem;
    line-height: 1.5625;
    font-weight: 600;
}

.ask__form-info--item-wrap i{
    font-size: 2.4rem;
    cursor: pointer;
}

.ask__form-info--item h3{
    padding-bottom: 45px;
}

.ask__form-info--item p{
    margin-bottom: 40px;
}

.ask__form-info--item h4{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1.785;
    font-weight: 600;   
}

.ask__form-info--item-second h4{
    margin-top: 50px;
    margin-bottom: 20px;
}

.ask__form-detail{
    margin-top: 40px;
}

.ask__form-detail--item {
    padding: 40px 0;
    cursor: pointer;
}

.ask__form-detail--item--not{
    box-shadow: unset;
}

.ask__form-info--item-wrap{
    border-bottom: 1px solid #ABAAB3;
}

.ask__form-detail--item .fa-plus{
    font-size: 2.4rem;
    cursor: pointer;
}

.ask__form-info{
   overflow: hidden;
   height: 0;
    transition: all 0.3s linear;
}

.ask__contact{
    padding-top: 100px;
}

.ask__contact p{
    color: var(--text-color);
    margin-right: 6px;
    font-size: 2rem;
}

.ask__contact a{
    font-size: 2rem;
    color: var(--text-color);
    display: block;
    text-decoration: underline;
}
