/* Pc */
@media (min-width: 1024px){
    .hide-on-pc{
        display: none;
    }
}
/* Pc small */
@media (max-width: 1200px){
    .header__about{
        display: none;
    }
    .header__menu,
    .header__navbar{
        display: block;
    }
    .header__icon {
        flex: 30;
        justify-content: end;
    }
    .header__menu{
        flex: 1;
    }
    .header__menu i{
        transition: all 0.2s linear;
    }
    .header__menu {
        transform: rotate(180deg);
    }
    .slider__text {
       padding-right: 20px;
       padding-left: 20px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px){
    .header__about,
    .hide-on-mobile-tablet{
        display: none;
    }
    .container,
    .container__small,
    .container__large{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
   
    .text__header {
        font-size: 2rem;
    }
    .header__wrap{
        height: 70px;
    }
    .header__logo img{
        width: 79.25px;
        height: 40px;
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    h2 {
        margin-bottom: 25px;
    }
    .category{
        margin-bottom: 0;
        padding-top: 40px;
    }
    .story__list-item {
        padding: 60px 30px;
    }
    .featured{
        padding-bottom: 40px;
        margin-top: 40px;
    }
    .service{
        padding: 40px 0 20px 0;
    }
    
    .brand{
        height: 140px;
    }
    .brand__text p{
        font-size: 1.8rem;
    }
    .birth{
        padding: 40px 0;
    }
    .birth__info {
        padding: 0px 20px;
    }
    .blog__list{
        display: block;
    }
    .blog{
        padding-top: 40px;
    }
    .blog__item-second,
    .footer__item-fouth{
        order: 1;
    }
    .blog__item-first,
    .footer__item-first{
        order: 2;
    }
    .footer__item-second{
        order: 3;
    }
    .footer__item-third{
        order: 4;
    }
    .blog__list--first{
        margin: auto;
        margin-top: 40px;
    }
    .product__item{
        margin-bottom: 20px;
    }
    .detail__wrap{
        padding: 40px 0;
    }
    .detail__info{
        padding-left: 0;
        margin-top: 40px;
    }
    .detail__product-info--list-item,
    .detail__product-info--header{
        margin-bottom: 40px;
    }
    .featured__list-item--img{
        width: unset;
    }
    .contact__item{
        margin-bottom: 20px;
    }
    .detail__product-info--list-img{
        padding-left: unset;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }
    .featured__list-item{
        margin-bottom: 20px;
    }
    .service__item{
        margin-bottom: 20px;
    }
    .collection__info ,
    .slider__text {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }
    .footer__item{
        margin-bottom: 40px;
    }
    .footer__item-first,
    .footer__item-third{
        display: flex;
        justify-content: center;
    }
    .mt0{
        margin-top: 0;
    }
    .footer__credit p{
        line-height: 1.8;
        text-align: center;
        padding: 0 80px;
    }
    .ask__header-item{
        margin-right: 30px;
    }
    


}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .slider{
        width: 100%;
        background: url(../img/slider__mb.jpg) center / cover no-repeat;
    }
    .slider__text h2{
        font-size: 1.8rem;
    }
    .slider__text-btn{
        margin-top: 15px;
    }
    .slider__text{
        padding: 215px 0 15px 15px;
    }
    .story__list-img--wrap{
        height: 345px;
        width: 345px;
        max-width: 100%;
    }
    .service__item{
        margin: 0 20px 20px 20px;
    }
    .featured__list{
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .featured__list::-webkit-scrollbar {
        display: none;
    }
    .collection__info{
        padding: 74px 0;
        margin-top: 40px;
    }
    .footer__logo{
        padding: 40px 0;
    }
    .footer__logo img{
        width: 92.94px;
        height: 50px;
    }
    
    .footer__main{
        padding: 50px 0;
    }
    .footer__item-about,
    .footer__item-socials{
        margin-bottom: 60px;
    }
    .footer__item-header{
        margin-bottom: 20px;
    }
    .footer__credit{
        margin-bottom: 23px;
        text-align: center;
        padding: 0 35px;
    }
    .footer__credit p{
        line-height: 1.71;
    }
    .collection__options{
        display: block;
    }
    .featured{
        padding: 0;
    }
    .collection__options-item{
        margin-bottom: 20px;
    }
    .featured__list-row{
        overflow: unset;
        flex-wrap: wrap;
    }
    .product{
        padding: 40px 0;
    }
    .product__text{
        padding: 70px 30px;
    }
    .product__text h2{
        margin-bottom: 15px;
    }
    .product__story{
        margin: 40px auto;
    }
    .story__item-first{
        order: 1;
    }
    .story__item-second{
        order: 2;
    }
    .detail__header{
        margin-bottom: 40px;
    }
    .detail__info-options{
        display: block;
    }
    .detail__info-options-text-wrap{
        margin-top: 15px;
    }
    .detail__options-number{
        width: 100%;
    }
    .detail__info-header p{
        margin-bottom: 10px;
    }
    .detail__info-header span{
        font-size: 2rem;
        line-height: 1.5;
    }
    .detail__info-options--select-wrap,
    .detail__info-header{
        margin-bottom: 32px;
    }
    .detail__product-info--header li{
        padding: 10px 0;
        font-size: 1.8rem;
    }
    .detail__product-info--header{
        overflow: scroll;
    }
    .detail__product-info--header::-webkit-scrollbar {
        display: none;
    }
    .detail__product-info--list-item p{
        font-size: 1.8rem;
        margin-top: 20px;
    }
    .service{
        margin-top: 40px;
    }
    .ask,
    .contact,
    .dealer{
        padding: 40px 0 ;
    }
    .dealer__header{
        padding: 0 20px;
    }
    .dealer__form{
        padding-top: 50px;
    }
    .form__group label{
        font-size: 1.6rem;
    }
    .dealer__input input{
        transform: scale(1.9);
    }
    .dealer__options{
        padding: 0 12px;
    }
    .dealer__btn{
        margin-top: 20px;
    }
    .contact__header-des{
        display: block;
    }
    .contact__header{
        margin-bottom: 31px;
    }
    .ask__header-item {
        text-align: center;
    }
    .ask__header-item a{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .ask__header-list{
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: space-between;
    }
    .ask__header-list::-webkit-scrollbar{
        display: none;
    }
    .ask__header{
        margin-bottom: 0;
        padding: 0 15px;
    }
    .ask__form h3{
        margin-right: 10px;
    }
    .ask__form-detail--item{
        padding: 20px 0;
    }
    .ask__contact{
        padding-top: 40px;
        display: block;
        text-align: center;
    }
    .birth__img{
        min-height: 345px;
    }
    .birth__img-detail img{
        width: 28px;
    }
    .navbar__login,
    .navbar__search-input{
        width: 150px;
    }
    .header__icon-cart{
        padding: 15px;
        width: 240px;
    }
    .header__icon-cart p{
        font-size: 1.6rem;
    }
    .header__notify{
        right: -128px;
        width: 340px;
    }
   
   
    
}