/* Pc */
@media (min-width: 1024px){
    .hide-on-pc{
        display: none;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px){
    .header__about,
    .hide-on-mobile-tablet{
        display: none;
    }
    .container,
    .container__small,
    .container__large{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .header__icon {
        flex: 30;
        justify-content: end;
    }
    .header__menu{
        flex: 1;
    }
    .text__header {
        font-size: 2rem;
    }
    .header__wrap{
        height: 70px;
    }
    .header__logo img{
        width: 79.25px;
        height: 40px;
    }
    .slick-prev{
        left: 0;
    }
    .slick-next{
        right: 0;
    }
    h2 {
        margin-bottom: 25px;
    }
    .category{
        margin-bottom: 0;
        padding-top: 40px;
    }
    .story__list-item {
        padding: 60px 30px;
    }
    .featured{
        padding-bottom: 40px;
        margin-top: 40px;
    }
    .service{
        padding: 40px 0 20px 0;
    }
    .service__item{
        margin: 0 20px 20px 20px;
    }
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .slider{
        width: 100%;
        background: url(../img/slider__mb.jpg) center / cover no-repeat;
    }
    .slider__text h2{
        font-size: 1.8rem;
    }
    .slider__text-btn{
        margin-top: 15px;
    }
    .slider__text{
        padding: 215px 0 15px 15px;
    }
    .story__list-img--wrap{
        height: 345px;
        width: 345px;
    }
    .featured__list-item--img{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .featured__list{
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .featured__list::-webkit-scrollbar {
        display: none;
    }
    .collection {
        background: url(../img/mb-collect.jpg) center / cover no-repeat;
    }
    .collection__info{
        padding: 74px 0;
    }
    .footer__logo{
        padding: 40px 0;
    }
    .footer__logo img{
        width: 92.94px;
        height: 50px;
    }
    .footer__item-fouth{
        order: 1;
    }
    .footer__item-first{
        order: 2;
    }
    .footer__item-second{
        order: 3;
    }
    .footer__item-third{
        order: 4;
    }
    .footer__main{
        padding: 50px 0;
    }
    .footer__item-about,
    .footer__item-socials{
        margin-bottom: 60px;
    }
    .footer__item-header{
        margin-bottom: 20px;
    }
    .footer__credit{
        margin-bottom: 23px;
        text-align: center;
        padding: 0 35px;
    }
    .footer__credit p{
        line-height: 1.71;
    }
   
    
}