.main{
    width: 100%;
}

.active{
    color: var(--des-color);
}

.subheader__wrap{
    background-color: var(--text-color);
}

.subheader{
    height: 50px;
}

.subheader span{
    margin-right: 9px;
    text-transform: none;
}

.subheader__languages--list{
    background-color: var(--text-color);
    text-transform: none;
    cursor: pointer;
}

.header__wrap{
    height: 110px;
    position: relative;
}

.header__about{
    margin: 0 119px 0 136px;
    margin: 0 70px 0 70px;
    flex: 1;
}

.header__icon > div{
    margin-left: 25.84px;
    cursor: pointer;
}

.header__icon div:nth-child(1){
    margin-left: 0;
}

.header__logo img{
    cursor: pointer;
}

.header__logo a{
    display: block;
}

.slider{
    width: 100%;
    background: url(../img/slider1.jpg) center / cover no-repeat;
}

.slider:nth-child(2){
    width: 100%;
    background: url(../img/slider3.png) center / cover no-repeat;
}

.slider:nth-child(3){
    width: 100%;
    background: url(../img/slider2.png) center / cover no-repeat;
}

.slider__text{
    padding: 448px 0 50px 0;
    transition: all 0.3s linear;
}

.slider__text h2{
    margin: 0;
}

.slider__text-btn{
    margin-top: 20px;
}

.slider__text-btn a{
    display: block;
    color: var(--text-color);
}

.category{
    padding: 100px 0 80px 0;
    margin-bottom: 103px;
}

.category__list--item{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.category__list--item button{
    position: absolute;
    bottom: 30px;
    padding: 13px 0;
    width: 125px;
    z-index: 1;
    left: calc(50% - 62.5px);
}

.category__list--item-img{
    position: relative;
}

.category__list--item-img img{
    width: 100%;
    transition: all 0.6s ease-out;
    display: block;
}

.category__list--item-img:hover img{
    transform: scale(1.2);
}


.category__list--item button a {
    display: block;
}

.story{
    background-color: var(--bgc-color);
}

.story__wrap{
    width: 100%;
    margin: 0 auto;
}

.story__list-img--wrap{
    width: 593px;
    height: 593px;
    background: url(../img/story.jpg) center/ cover no-repeat;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

.main__video{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.story__play{
    cursor: pointer;
    transition: all 0.2s linear;
}

.story__play:hover{
    transform: scale(1.2)
}

.story__list-item{
    padding: 133px 90px;
}

.story__list-item--text h2{
    margin-bottom: 20px;
}

.story__list-item--btn{
    margin-top: 70px;
}

.story__list-item--btn a{
    display: block;
}

.featured{
    padding: 100px 0;
    margin-top: 100px;
}

.featured__list-item--img-wrap img{
    width: 100%;
}

.featured__list-item{
    text-align: center;
}

.featured__list-item--img{
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    max-width: 100%;
}

.featured__list-item--icon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
}

.icon__second{
    color: red;
}

.featured__list-item--info p{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.5;
}

.featured__list-item--info span{
    color: #555562;
}

.featured__list-item button{
    border: 1px solid #171719;
    margin-top: 20px;
}

.featured__list-item button a{
    color: var(--text-color);
    display: block;
}

.collection{
    background: url("../img/collection.jpg") center / cover no-repeat;
}

.collection__info{
    padding: 185px 0;
}

.collection__text{
    margin-bottom: 30px;
}

.collection__more span,
.collection__text p,
.collection__text h2{
    max-width: 327px;
}

.collection__text h2{ 
    font-size: 2rem;
    margin-bottom: 20px;
}

.collection__text p{
    text-transform: none;
    line-height: 1.71;
    letter-spacing: 0;
    color: #BABABF;
}

.collection__more{
    justify-content: unset;
    cursor: pointer;
}

.collection__more img{
    margin-left: 10px;
}

.service{
    padding: 100px 0;
    background-color: var(--bgc-color);
}

.service__list-wrap{
    overflow: hidden;
}

.service__item{
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

.service__item-img{
    margin-bottom: 30px;
}

.service__item-text p{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5px;
}

.service__item-more{
    margin-top: 30px;
    cursor: pointer;
}

.footer{
    background-color: var(--text-color);
}

.footer__logo{
    margin: 0 auto;
    padding: 50px 0;
    cursor: pointer;
}

.footer__logo a{
    display: block;
}

.footer__logo img{
    width: 158px;
    height: 85px;
    object-fit: cover;
}

.footer__main{
    padding: 70px 0 66px 0;
    border-top: 1px solid #313135;
}

.footer__item-header{
    margin-bottom: 30px;
}

.footer__item-link{
    margin-top: 15px;
}

.footer__item-link:nth-child(1){
    margin: 0;
}

.footer__item-input--wrap{
    background-color: #262628;
    height: 41px;
    padding: 0 10px;
    margin-bottom: 70px;
}

.footer__item-input{
    background-color: #262628;
    color: var(--subtext-color);
}

.footer__item-input--wrap button{
    background-color: #262628;
    color: var(--subtext-color);
    cursor: pointer;
    padding: 0;
}

.footer__item-input--wrap button:hover{
    color: var(--des-color);
    background-color: #262628;
}

.footer__item-socials{
    max-width: 170px;
}

.footer__item-socials--header{
    margin-bottom: 30px;
}

.footer__credit{
    height: 70px;
}

.footer__credit p{
    line-height:70px
}

.service__item-more,
.collection__more{
    position: relative;
    right: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.header__item a{
    transition: all 0.3s ease-in-out;
    display: block;
    padding: 5px;
}

.footer__item-link:hover p,
.footer__item-link:hover a{
    color: #fff;
}

.service__item-more:hover,
.collection__more:hover,
.header__item a:hover{
    right: -8px;
    color: var(--des-color);
}

.header__menu{
    margin-left: 25.84px;
    cursor: pointer;
}

.header__menu i{
    font-size: 2rem;
    margin-top: 2px;
}

.header__navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--subtext-color);
    padding: 30px 15px;
    box-shadow: inset 0px -1px 0px #ECECEC;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
    transition: all 0.3s linear;
    z-index: 10;
}

.active {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.header__menu .fa-xmark{
    font-size: 2.8rem;
    transform: rotate(180deg);
}

.header__list {
    flex-wrap: wrap;
}

.header__navbar .header__list{
    display: block;
}

.header__navbar .header__list .header__item{
    margin-bottom: 30px;
}

.header__navbar .header__list .header__item:nth-child(4){
    margin-top: 10px;
}

.header__navbar .header__list .header__item:nth-child(6){
    margin-bottom: 0;
}

.header__navbar .header__list .header__item img{
    cursor: pointer;
}

.header__navbar .header__list .header__item img:hover{
    right: 0;
}

.header__item-down-2,
.header__item-down{
    position: relative;
}

.header__item-down-2{
    margin-bottom: 0 !important;
}

.header__item-down:hover .menu__down{
    display: block;
}

.header__item-down-2::after,
.header__item-down::after{
    position: absolute;
    content: "";
    height: 15px;
    width: 100%;
    top: 76%;
    right: 0;
}

.menu__down{
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #ffffff;
    z-index: 4;
    padding: 0 20px 20px 20px;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
}

.menu__down-item-2,
.menu__down-item{
    margin-top: 15px;
}

.menu__down-2{
    overflow: hidden;
    transition: all 0.3s linear;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
    padding: 0 20px 20px 20px;
    height: 0;
}

.menu__down-2--active{
    height: 98px;
}

.header__item-down-2-wrap {
    width: 100%;
}

.header__item-down-2-wrap-imgactive{
    transform: rotate(180deg);
}

.header__icon-cart--wrap{
    position: relative;
}

.header__icon-cart p{
    font-size: 1.8em;
    color: var(--text-color);
}

.header__icon-cart{
    position: absolute;
    top: 35px;
    padding: 20px;
    right: 0;
    background-color: white;
    width: 280px;
    animation: Scale ease 0.4s;
    transform-origin: right top;
    transition: all 0.3s linear;
    z-index: 10;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
}

@keyframes Scale{
    from {
        opacity: 0;
        transform: scale(0);  
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.navbar__login_wrap{
    position: relative;
}

.navbar__login {
    position: absolute;
    z-index: 10;
    width: 160px;
    top: 35px;
    right: -75px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
    animation: Scale ease 0.4s;
    transform-origin: top;
    transition: all 0.3s linear;
}

.navbar__login-item {
    cursor: pointer;
    padding: 8px 16px;
}

.navbar__login-item:hover {
    background-color: rgb(211, 203, 203);
}

.navbar__login-icon {
    margin-right: 12px;
    font-size: 1.6rem;
}

.navbar__login-text {
    font-size: 1.4rem;
    line-height: 18px;
}

.navbar__login-out {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 1.4rem;
    line-height: 18px;
    border-top: 2px solid #dbdbdb;
    cursor: pointer;
}

.navbar__search-wrap{
    position: relative;
}

.navbar__search-input{
    position: absolute;
    font-size: 1.6rem;
    height: 34px;
    width: 200px;
    top: 35px;
    right: -5px;
    background-color: white;
    color: var(--text-color);
    padding-left: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px #aaaaaa;
    z-index: 10;
    animation: Scale ease 0.4s;
    transform-origin: right top;
    transition: all 0.3s linear;
}

.navbar__heart-wrap{
    position: relative;
}

.header__notify{
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
    width: 404px;
    border: 1px solid #ccc;
    cursor: default;
    z-index: 1;
    box-shadow: 0px 0px 3px 0px #aaaaaa;

    animation: Scale ease 0.4s;
    transform-origin: right top;
    transition: all 0.3s linear;
}

.header__notify-header {
    height: 40px;
    background-color: #fff;
}

.header__notify-header h3 {
    color: var(--text-color);
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5;
}

.header__notify-list {
    padding-left: 0;
    width: 100%;
    list-style: none;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgb(247, 243, 243);
}

.header__notify-img {
    width: 52px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.6;
}

.header__notify-des {
    font-size: 1.2rem;
    color: #767676;
    line-height: 2.2rem;
}

.header__notify-footer-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    line-height: 40px;
}

